@import '~scss/tools';

.sample {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-color: white;

  &__content {
    @include align-center;
    
    display: block;
    width: 80%;
    max-width: 640px;
    color: #0c2648;
    background-color: white;

    h1 {
      font-size: em(24);
    }

    p {
      @include small {
        font-size: em(14);
      }

      margin: $global-spacing $global-spacing $global-spacing * 2;
      font-size: em(20);
      line-height: 1.5em;
      text-align: left;
    }

    .divider {
      display: block;
      padding: $global-spacing/2 0;

      hr {
        border: none;
        border-bottom: thin solid white;
        width: 5%;
      }
    }

    .tools {
      display: flex;
      align-items: center;
      margin: 10px;

      @include small {
        display: block;

        .tool {
          margin: 0 auto $global-spacing;
        }
      }

      .tool {
        display: block;
        position: relative;
        padding: 0 $global-spacing;
        flex-grow: 1;
        text-decoration: none;

        svg {
          height: 15vw;
          max-height: 30px;
          margin: 0;
        }

        &--typescript {
          svg {
            max-height: 25px;
          }
        }

        &--react {
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
            sans-serif;
          color: rgb(97, 218, 251);
          display: flex;
          align-items: center;
          justify-content: center;

          .type {
            color: inherit;
            margin-left: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            display: inline;
          }
        }
      }
    }
  }
}
