@import '~scss/tools';

.home {
  background: #0c2648;
  width: 100%;
  height: 100%;

  h1 {
    @include small {
      font-size: 14.5vw;
    }

    animation-delay: $transition-duration;
    font-size: 10vw;
    display: inline-block;
    font-family: 'Abril Fatface', cursive;
  }

  &__bkgd {
    position: fixed;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    opacity: 0.75;
    top: 0;
    left: 0;
    
    img {
      width: calc(100% - 0px);
      height: calc(100% - 0px);
      object-fit: cover;
      animation-delay: $transition-duration * 2;
    }
  }

  &__content {
    @include align-center;
    padding-bottom: $global-spacing;
  }
}
