@import "scss/tools.scss";

$default-size: 50px;

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

.icon-loading {
  @include fadeIn();

  width: 100%;
  height: 100%;
  min-height: $default-size;
  position: relative;

  &__content {
    @include align-center;

    &,
    svg {
      width: $default-size;
      height: $default-size;
    }

    svg {
      transform-origin: center;
      animation: rotate 2s linear infinite;

      circle {
        fill: none;
        stroke: rgba(black, 0.25);
        stroke-width: 1;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
      }
    }
  }
}
