@import 'scss/tools';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

$route-duration: 400ms;

body {
  #root {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    .app {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;

      h1 {
        display: inline-block;
        font-family: 'Abril Fatface', cursive;
      }

      .icon-error {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.route-transition {
  &-enter {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
  }

  &-enter-active {
    opacity: 1;
    visibility: visible;
    transition: opacity $route-duration;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity $route-duration;
  }
}
