@import '~scss/tools';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

$route-duration: $transition-duration-default * 2;

body {
  #root {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    .app {
      display: block;
      width: 100%;
      height: 100%;
      background: #0c2648;
      color: white;
      text-align: center;

      h1 {
        display: inline-block;
        font-family: 'Abril Fatface', cursive;
      }
    }
  }
}

.transition-group{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  .route-transition {
    &-enter {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      transition-delay: $route-duration;
    }

    &-enter-active {
      opacity: 1;
      visibility: visible;
      transition: opacity $route-duration;
      transition-delay: $route-duration;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity $route-duration;
    }
  }
}
