// tools, mixins, functions & variables
@import '~scss/tools';

// reset
@include reset;

// default animation
$use-fadeIn: true;
$use-fadeInUp: true;
@import '~node_modules/animate-sass/animate';

// base
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
