@import '~scss/tools';

.navigation {
  position: fixed;
  top: $global-spacing;
  left: $global-spacing;
  width: calc(100% - #{$global-spacing * 2});
  z-index: 10;

  &__content {
    @include small {
      margin: 0 auto;
      justify-content: center;
    }

    display: flex;
    width: 100%;

    .nav-link {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 700;
      font-size: em(10, 12);
      letter-spacing: 0.15em;
      text-transform: uppercase;
      position: relative;

      .nav-link-selected {
        opacity: 1;

        &,
        &:hover {
          color: steelblue;
        }
      }

      a {
        text-decoration: none;
        transition: opacity $transition-duration, color $transition-duration;
        padding: 2em;
        opacity: 0.5;
        color: steelblue;
        display: block;

        &:after {
          content: ' ';
          @include align-horizontal;
          bottom: 15px;
          border-bottom: thin solid steelblue;
          width: 0;
          transition: width $transition-duration;
          margin: 0;
          padding: 0;
        }

        @media (hover: hover) {
          &:hover {
            color: steelblue;
            opacity: 1;

            &:after {
              width: calc(100% - #{$global-spacing * 2});
            }
          }
        }
      }
    }
  }
}
